.header {
  background-color: #0c3763 !important;
  color: white !important;
}

.header .btn-primary{
  background-color: #3f85ca !important;
  border: .5px solid #3f85ca !important;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header__container > div{
  display: flex;
  align-items: center;
}

.header__logo {
  height: 60px;
  width: 60px;
  object-fit: contain;
  border-radius: 50%;
  margin: 0 25px;
}

.header__logoutBtn{
  margin: 0 25px;
}

